{% extends 'base.html' %}
{% load static %}
<!-- Page Title -->
{% block title %} Message - Private {% endblock %}


<!-- Page content -->
{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="main-info header-text mb-0 loginform">
                    <div class="heading-section">
                        <h6><em>Write out your mind</em> you are 100% anonymous</h6>
                        <!-- <h6><em>Did my business serve you well</em>?</h6> -->
                      </div>
                    {% if owner %} 
                    <form action="{% url 'private_message' owner|slugify %}" id="feedbackForm" method="POST">
                        {% csrf_token %}
                        <!-- <label for="exampleFormControlTextarea1" class="form-label">Write out your mind (you are 100% anonymous)</label> -->
                        <textarea class="form-control form-control-lg" id="feedbackMessage" name="feedbackMessage" rows="5" style="background: rgb(217, 215, 215); border:solid 1px #ccc; border-radius: 8px;"></textarea>
                        <div class="stayRight"><button type="submit" class="btn btn-light mb-3 mt-3">Send</button></div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
</div>
{% endblock %}
